.where-travel {
  padding: 35px 76px;
  max-width: 1440px;
  display: flex;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .where-travel {
    padding: 24px 45px;
  }
}

@media screen and (max-width: 420px) {
  .where-travel {
    padding-top: 50px;
  }
}

@media screen and (max-width: 420px) {
  .where-travel {
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    padding: 70px 0 0;
  }
}