.people__author {
  text-transform: uppercase;
  margin: 0 0 28px 0;
  font-size: 14px;
}

@media (max-width: 1205px) {
  .people__author {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .people__author {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  .people__author {
    font-size: 14px;
    margin: 0 0 12px 0;
  }
}