.header {
  max-width: 1440px;
  padding: 58px 76px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 23px 76px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px 45px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    display: none;
  }
}