@font-face {
  src: url(./Rostelecom_Basis_Medium.woff2) format('woff2'),
       url(./Rostelecom_Basis_Medium.woff) format('woff'),
       url(./Rostelecom_Basis_Medium.ttf) format('truetype');
  font-family: 'Rostelecom Basis';
  font-weight: 500;
}

@font-face {
  src: url(./Rostelecom_Basis_Bold.woff2) format('woff2'),
       url(./Rostelecom_Basis_Bold.woff) format('woff'),
       url(./Rostelecom_Basis_Bold.ttf) format('truetype');
  font-family: 'Rostelecom Basis';
  font-weight: 700;
  }