.people__views {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 50px 0;
}

@media screen and (max-width: 1439px) {
  .people__views {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1205px) {
  .people__views {
    max-width: 700px;
  }
}

@media screen and (max-width: 947px) {
  .people__views {
    padding: 0 20px 0;
    max-width: 640px;
  }
}


@media screen and (max-width: 768px) {
  .people__views {
    max-width: 600px;
  }
}


@media screen and (max-width: 640px) {
  .people__views {
    max-width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .people__views {
    max-width: 280px;
  }
}


