@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);


.page {
  max-width: 100%;
  min-width: 320px;
  font-family: "Rostelecom Basis", Arial, Helvetica, sans-serif;

}

.header {
  max-width: 1440px;
  padding: 55px 76px;
  box-sizing: border-box;
  background-color: aqua;
}

.header_position_center {
  margin: 0 auto;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  background-color: aquamarine;
}

.header__feedback {
  background-color: yellow;
}

.header__menu {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: burlywood;
}

.header__menu-item {
  margin: 0 2vw 0 0;
  background-color: cornflowerblue;


}


/*

Думаю, что надо убрать, потому что нужен margin, чтобы правый блок "Пожаловаться" не прилипал
.header__menu-item:last-child {
  margin: 0;
  background-color: crimson;
}
*/

.header__menu-link {
  color: inherit;
  text-decoration: none;
  justify-content: space-between;
}


body {
  background: white;
  font-family: Helvetica;
}





.flexbox {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 76px;
  background-color: #fecda7;
  display: flex;
  flex-flow: column;
  margin-top: 110px;
}

.flexbox__item {
  background-color: rgb(10, 117, 117);
  min-height: 600px;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: stretch;

}

.flexbox__img {
  width: 50%;
  background-color: blue;
  max-height: 600px;
  object-fit: cover;

}

.flexbox__article {
  width: 50%;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 68px 80px 80px;
  box-sizing: border-box;
}


.flexbox__text {
  background-color: chocolate;
  margin: 0;
  padding: 0;
}


.flexbox__paragraph{
  margin: 0;
  margin-top: 26px;
  margin-bottom: 15px;
  padding: 0 0;
  max-width: 420px;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.35px;
  font-weight: 500;
}

.flexbox__title {
  background-color: cornflowerblue;
  margin: 0;
  padding: 0;
  font-size: 39.3px;
  line-height: 48px;
  font-weight: 700;
}




@media screen and (max-width: 1440px) {

  .flexbox__item {

    min-height: 41.6vw;
  }

  .flexbox__img {
    height: calc((100vw - 152px) / 1.92);
  }

}

@media screen and (max-width: 720px) {

  .flexbox__item {

    flex-direction: column;

  }

  .flexbox__img {
    width: 100%;
    background-color: rgb(49, 226, 43);
    min-height: calc(100vw / 1.2 - 152px / 1.2);
    order: 1;
  }

  .flexbox__article {
    width: 100%;
    min-height: calc(100vw / 1.2 - 152px / 1.2);
    order: 2;
    margin: 0;
    padding: 0;

  }

}






.where-travel {
  padding: 40px 76px;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  background-color: darkorchid;
}

.where-travel__text-container {
  background-color: rgb(50, 204, 119);
  align-self: center;
  flex: 1;
}

.where-travel__subtitle {
  margin: 0;
  padding: 0;
  background-color: darkred;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
  word-spacing: 2px;
  text-transform: uppercase;
}

.where-travel__title {
  background-color: rgb(0, 139, 35);
  margin: 0;
  padding: 0;
  margin-top: 36px;
  font-size: 39.3px;
  line-height: 48px;
  font-weight: 700;
}

.where-travel__img-container {
  flex: 1;
  background-color: blue;
  align-self: center;
  align-items: center;

}


.where-travel__image {
  display: block;
  background-color: rgb(30, 0, 139);
  height: 400px;
  width: 400px;
  margin: 0 auto;
  position: relative;
  left: 3%;
  right: 0;
  overflow: hidden;
  object-fit: cover;
}

.where-travel_position_center {
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .where-travel__image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 400px;
    left: 0%;
  }

  .where-travel__title {
    margin-left: 0;
  }

  .where-travel__title {
    margin-top: 27px;
    font-size: 30px;
    line-height: 36px;
  }

  .where-travel__subtitle {
    font-size: 10.5px;
    letter-spacing: 0.23px;
    word-spacing: 1.5px;
  }

}


@media screen and (max-width: 768px) {
  .where-travel__title {
    margin-top: 18px;
    font-size: 20px;
    line-height: 24px;
  }



}

@media screen and (max-width: 320px) {

  .where-travel {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    background-color: darkorchid;
    flex-direction: column;
  }
}








.travel-places {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 108px 0 0;
}

.travel-places_position_center {
  margin: 0 auto;
}

.travel-places__place {
  max-width: 100%;
}

.place {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: 102px 498px;
  background-color: #f2f2f2;
}

.place__image {
  grid-row: 1/2;
  grid-column: 1;
  width: 720px;
  height: 600px;
  object-fit: cover;
  display: block;
}

.place:nth-of-type(even) .place__image {
  grid-column: 2;
}

.place__title {
  grid-row: 1;
  grid-column: 2;
  padding-top: 70px;
  margin: 0;
  font-size: 38px;
  margin: 0 0 0 80px;
  letter-spacing: 1px;
}

.place:nth-of-type(even) .place__title {
  grid-column: 1;
}

.place__text {
  grid-row: 2;
  grid-column: 2;
  align-self: end;
  padding-bottom: 98px;
}

.place:last-child .place__text {
  padding-bottom: 72px;
}

.place:nth-of-type(even) .place__text {
  grid-column: 1;
}

.place__paragraph {
  margin: 0 0 26px 80px;
  max-width: 420px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.35px;
}

.place__paragraph:last-child {
  margin: 0 0 0 80px;
}


.people {
  max-width: 1440px;
  padding: 154px 0 145px;
  border: 1px solid #000;
}

.people_position_center {
  margin: 0 auto;
}

.people__subtitle {
  margin: 0 0 32px 76px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fecda7;
}

.people__title {
  margin: 0 0 106px 76px;
  font-size: 40px;
  max-width: 460px;
}

.people__views {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 50px 0;
  border: 1px solid #000;
  background-color: green;

}





.people__opinion {
  list-style-type: none;
  max-width: 268px;
  margin: 30px 70px 0 0;
  background-color: #fecda7;

}

@media (min-width: 1440px) {



  .people__opinion:nth-of-type(4n) {
    margin: 30px 0 0 0;
  }
}


.people__author {
  text-transform: uppercase;
  margin: 0 0 28px 0;
  font-size: 14px;
}

.people__quote {
  margin: 0 0 0 0;
  line-height: 22px;
}



@media (min-width: 1206px) and (max-width: 1439px) {
  .people__opinion:nth-of-type(3n) {
    margin: 30px 0 0;
  }
}


@media (max-width: 1439px) {
 

  .people__subtitle {
    margin: 0 auto 32px;
    text-align: center;
    font-size: 20px;
  }

  .people__title {
    margin: 0 auto 106px;
    font-size: 40px;
  }

  .people__views {
  max-width: 1100px;
  background-color: green;
  }

  .people__opinion {
    max-width: 320px;
    margin: 30px 70px 0 0;
  }


}







@media (max-width: 1205px) { 
  
  .people {
    max-width: 1440px;
    padding: 90px 0 70px;
  }
  .people__title {
    margin: 0 auto 70px;
  }
  .people__views {
    max-width: 820px;
  }

  .people__opinion {
    max-width: 360px;
    margin: 30px 100px 0 0;
  }

 

  .people__author {
    font-size: 18px;
  }
  
  .people__quote {
    font-size: 16px;
  }

}

@media (min-width: 769px) and (max-width: 1205px) { 
  .people__opinion:nth-of-type(2n) {
    margin: 30px 0 0;
  }
}
@media (max-width: 947px) { 
  .people__views {
    max-width: 650px;
  }

  .people__opinion {
    max-width: 300px;
    margin: 30px 50px 0 0;
  }

 
}

@media (max-width: 768px) { 
  .people__views {
    max-width: 400px;
  }

  .people__opinion {
    max-width: 350px;
    margin: 30px auto 0;
  }
}

@media (max-width: 500px) { 
  .people {
    padding: 60px 0 40px;
  }

  .people__subtitle {
    margin: 0 auto 20px;
    font-size: 16px;
  }

  .people__title {
    max-width: 220px;
    margin: 0 auto 40px;
    font-size: 28px;
    text-align: center;
  }

  .people__views {
    max-width: 300px;
  }
  .people__opinion {
    max-width: 280px;
    margin: 30px auto 0;
  }

  .people__author {
    font-size: 16px;
  }

  .people__quote {
    font-size: 14px;
  }
}





.footer {
  max-width: 1440px;
  min-height: 690px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fecda7;
  font-weight: 700;
  font-size: 40px;
}

.footer_position_center {
  margin: 0 auto;
}

.footer__copyright {
  margin: 0;
}

@media (max-width: 947px) { 
  .footer {
    max-height: 490px;
  }
}